---
title: "Running Security Scans in Limited Connectivity and Offline Environments"
author: "Fernando Diaz"
author_gitlab: diazjf
author_twitter: awkwardferny
categories: unfiltered
image_title: '/images/blogimages/steven-kamenar-MMJx78V7xS8-unsplash.jpg'
description: "GitLab Security Scans can ensure Security in the most locked down environments."
tags: CI/CD, security
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

It’s possible to run most of the GitLab security scanners when not connected to the internet.
GitLab scanners generally will connect to the internet to download the latest sets of signatures,
rules, and patches. A few extra steps are necessary to configure the tools to function properly by
using resources available on your local network.

The security scans which are supported in [Offline Environments](https://docs.gitlab.com/ee/user/application_security/offline_deployments/) are as follows:

- Container Scanning
- SAST
- DAST
- License Compliance
- Dependency Scanning

Watch this short video (3 minutes) to learn how to setup GitLab Security Scans in Offline Environments.

<iframe width="560" height="315" src="https://www.youtube.com/embed/FoLmRvTcOAY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Cover image by [Steven Kamenar](https://unsplash.com/@skamenar) on [Unsplash](https://unsplash.com/)
{: .note}


