@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "mixins/underline";
@import "2020base";
$distros-size: 7;

.container.container2020.header-content {
  &:before {
    background: url("/images/home/home-particles-2.svg") no-repeat 0 0;
    content: "";
    display: block;
    height: 180px;
    width: 250px;
    position: absolute;
    top: -30px;
    left: $spacing-unit-sm;
    transform: rotate(155deg);

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }

  .col-md-5 {
    width: calc(100% * (5 / 12));

    h1 {
      font-size: 45px;
      margin-top: 0;
    }

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .col-md-7 {
    width: calc(100% * (7 / 12));

    h2 {
      margin-top: 7px;
      margin-bottom: $spacing-unit-xs;
    }

    p {
      font-size: 24px;
      line-height: 30px;

      a {
        font-size: 24px;
        margin-left: 0;
      }
    }

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

.btn.margin-left-none {
  margin-left: 0;
}

.btn.cta-btn.lavender {
  width: unset;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
}

.cards-section {
  background: #f5f5f5;
  padding-bottom: $spacing-unit-md;

  a.hide-underline:hover  {
    text-decoration: none;
  }
}

.block-title {
  text-align: center;
  margin-top: $spacing-unit-sm;
}

.method {
  margin-top: $spacing-unit-lg;

  .block-title {
    text-align: center;
    margin-top: 0;
  }

  &.kubernetes {
    .flex-tile-list {
      justify-content: center;
    }
  }

  p {
    color: $text-color-light;

    a:not(.btn) {
      color: $text-color-light;
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  svg {
    fill: currentColor;
  }

  &.upgrade {
    text-align: center;

    p {
      margin-bottom: 30px;

      &:last-child,
      .cta-btn {
        margin: 0;
        text-decoration: none;
      }
    }
  }
}

.flex-tile-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacing-unit-sm;

  @media (min-width: $screen-sm-min) {
    margin-left: -10px;
    margin-right: -$spacing-unit-xs; // offset for items on right side
  }

  > .tile:not(.no-tile) {
    list-style: none;
    display: flex;
    flex: 0 0 calc(100% - 20px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 ($spacing-unit-xs / 2) $spacing-unit-xs;
    text-decoration: none;
    color: $color-primary-alt;

    p {
      color: $color-gray;
    }

    @media (min-width: $screen-sm-min) {
      flex: 0 0 calc(33% - 20px);
    }

    &:hover,
    &:focus,
    &.is-active {
      color: $color-primary-alt;

      .tile-image {
        transform: scale(1.1);
      }

      .tile-info {
        transform: translateY(4px);
      }

    }

    &.distro-content {
      flex: 0 0 100%;
      max-width: calc(100% - 20px);
      align-items: flex-start;
      padding: $spacing-unit-xs;
      text-align: left;

      @media (min-width: $screen-sm-min) {
        max-width: calc(100% - 30px);
      }

      @media (min-width: $screen-md-min) {
        padding: $spacing-unit-sm $spacing-unit-lg;
      }
    }
  }

  .no-tile {
    width: 100%;
  }
}

.tile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: $transition-primary;
}

.tile-image {
  margin: 0 auto $spacing-unit-xs;
  color: $text-color-light;
  filter: grayscale(100%);
  transition: $transition-primary;

  &,
  svg {
    height: 52px;
    max-width: 100%;
    width: 200px;
  }
}

.border-divider {
  border-top: 1px solid $border-color;

  p {
    margin-top: $spacing-unit-xs;
  }
}

@for $i from 1 through $distros-size {
  .distro-tile-#{$i} {
    order: $i;

    @media (min-width: $screen-sm-min) {
      order: ceil($i / 3);
    }
  }

  .distro-content-#{$i} {
    order: $i;

    @media (min-width: $screen-sm-min) {
      order: (ceil($i / 3)) + 1;
    }
  }
}

.distro-content {
  width: 100%;
  background-color: $color-white;
  padding: 40px;
  margin: 0 $spacing-unit-xs $spacing-unit-xs $spacing-unit-xxs;

  h4 {
    margin: $spacing-unit-sm 0 $spacing-unit-xs 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .js-install-instructions p a {
    text-decoration: none;
  }

  .display-extra-links {
    display: flex;

    a {
      padding: $spacing-unit-xs $spacing-unit-xs 0 0;
      font-size: 18px;
    }
  }

  .alert-info {
    background-color: unset;
    border: unset;
    border-radius: unset;
    border-left: 4px solid #52CDB7;
    color: $color-black333;
  }

  .alert-warning {
    background-color: unset;
    border: unset;
    border-radius: unset;
    border-left: 4px solid $color-red;
    color: $color-black333;
  }

  code {
    color: $color-black333;
    background-color: $color-gray-extra-light;
  }
}

.cta-block {
  max-width: 730px;

  .method-cta {
    margin-top: $spacing-unit-sm;

    p {
      margin-bottom: $spacing-unit-xxs;
    }
  }
}

.command {
  color: $text-color-light;
  font-size: 14px;
  line-height: 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-line;
  background-color: $color-white;

  .btn {
    line-height: 0;
  }
}

.edition-picker {
  margin-bottom: $spacing-unit-sm;

  a {
    font-size: 18px;
    margin-right: 15px;

    &:hover {
      text-decoration: none;
    }
  }

  .is-active {
    font-weight: 600;

    &:hover::after {
      background-color: $color-accent;
    }
  }

  .is-active,
  a:hover {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      right: 0;
      height: 2px;
      background-color: $color-primary;
    }
  }
}

