<div class="slp-flex slp-flex-wrap slp-items-center slp-justify-center">
  <!---->
  <% current_article.tags.each do |tag| %>
    <% if current_page.request_path.start_with?('releases') %>
      <a
        href="<%= "/releases/tags.html##{tag.gsub(/\s+/, '-')}" %>"
        class="slp-border slp-border-grayscale-highlight slp-text-xs slp-text-ui-secondary slp-leading-8 slp-rounded-full slp-py-4 slp-px-8 slp-shadow slp-mx-8 slp-inline-block"
      >
    <% else %>  
      <a
        href="<%= "/blog/tags.html##{tag.gsub(/\s+/, '-')}" %>"
        class="slp-border slp-border-grayscale-highlight slp-text-xs slp-text-ui-secondary slp-leading-8 slp-rounded-full slp-py-4 slp-px-8 slp-shadow slp-mx-8 slp-inline-block"
      >
    <% end %>  
      <%= tag %>
    </a>
  <% end %>  
</div>


